@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookAppTitle {
  width: 100%;
  text-align: center;
  margin: 10px;
  height: 100%;
}

.bookSearchStyles {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookSearchForm {
  display: flex;
  width: 80%;
  justify-content: center;
}

.bookSearchForm input {
  max-width: 60%;
  min-width: 40%;
}

.bookResultsStyles {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.bookCardStyles {
  width: 350px;
  height: 450px;
  margin: 20px;
  padding: 10px;
  border: 1px solid orange;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.descriptionBox {
  overflow: auto;

}

.descriptionStyles {
  line-height: 2;
  font-size: 16px;
}


